.app-header {
    z-index: 3;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: saturate(180%) blur(18px);
    background-color: #ff3209b4;

    .navigate {
        width: 760px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            width: 60px;
            margin: 10px 0px;

            &:hover {
                cursor: pointer;
            }
        }

        nav {
            width: 65%;
            display: flex;
            justify-content: space-evenly;
            a {
                text-decoration: none;
                color: #f9f9f9d7;
                margin-left: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 11px;
                transition: all 0.3s ease-in-out;

                &:hover,
                &:focus,
                &:active {
                    color: #f9f9f9;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        
    }
}

@media only screen and (max-width: 600px) {       /////// Para aparecer o menu hamburger

    .app-header {
        .navigate {
            align-items: center;
            justify-content: center;
            .divider {
                flex: 1;
            }

            img  {
                margin-left: 50px
            }
            .menu-icon {
                span {
                    width: 26px;
                    height: 3px;
                    background-color: #f9f9f9;
                    display: block;
                    margin: 4px 10px 4px 0px;
                    border-radius: 10px;
                }
            }

            nav {
                flex-direction: column;
                position: fixed;
                align-items: start;
                top: 48px;
                right: -160px;
                height: 150px;
                width: 160px;
                background-image: linear-gradient( 150deg, #fc6346, #e6725a);
                border-radius: 0px 0px 0px 10px;

                a {
                    display: block;
                    text-align: left;
                }
            }

            .menuClass {
                right: 0;
            }
        }
    }
}
    