<header class="app-header">
    <div class="navigate">
        <span class="divider"></span>
        <a href="#"><img src="./assets/logo.png"/></a>
        <span class="divider"></span>
        <div class="menu-icon" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav [class.menuClass]="menuVariable">
            <a href="#assessorias">Assessorias</a>
            <a href="#razoes">Por que nos escolher</a>
            <a href="#depoimentos">Depoimentos</a>
            <a href="#contato">Contato</a>
        </nav>
    </div>
</header>