<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <h1>INICIE SUA JORNADA INTERNACIONAL COM TRANQUILIDADE!</h1>
            <p>A Vistos & Co. transforma o complexo em simples, abrindo portas para novas oportunidades ao redor do mundo.</p>
            <p>Enquanto você se concentra em fazer as malas, nós descomplicamos a burocracia, garantindo uma viagem sem preocupações!</p>
        </div>
        <button>Quero começar!</button>
        <img src="./assets/disney.jpg">
    </section>
    <section class="second-section">
        <div class="second-headline">
            <h1>Oferecemos mais do que assessoria de vistos</h1>
            <p>Proporcionamos uma experiência humanizada, guiando você em cada etapa do processo com cuidado e atenção personalizada</p>
        </div>
    </section>
    <section class="third-section">
        <div class="third-headline">
            <h1>A VISTOS & CO. É IDEAL PARA VOCÊ QUE:</h1>

            <div class="card-plane">
                <img src="./assets/aviao.png">
                <p>Quer realizar uma viagem para os Estados Unidos, Canadá & Austrália</p>
            </div>
            <hr>
            <div class="card-plane">
                <img src="./assets/aviao.png">
                <p>Planeja estudar nos Estados Unidos (Visto F1) ou Canadá (Study Permit)</p>
            </div>
            <hr>
            <div class="card-plane">
                <img src="./assets/aviao.png">
                <p>Precisa realizar legalizações, traduções oficiais (Traduções Juramentadas) & Apostilamentos (Apostila de Haia)</p>
            </div>
        </div>
    </section>
</main>