<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <h1>INICIE SUA JORNADA INTERNACIONAL COM TRANQUILIDADE!</h1>
            <p>A Vistos & Co. transforma o complexo em simples, abrindo portas para novas oportunidades ao redor do mundo.</p>
            <p>Enquanto você se concentra em fazer as malas, nós descomplicamos a burocracia, garantindo uma viagem sem preocupações!</p>
        </div>
        <button>Quero começar!</button>
        <img src="./assets/disney.jpg">
    </section>
    <section class="second-section">
        <div class="second-headline">
            <h1>Oferecemos mais do que assessoria de vistos</h1>
            <p>Proporcionamos uma experiência humanizada, guiando você em cada etapa do processo com cuidado e atenção personalizada</p>
        </div>
    </section>
    <section class="third-section">
        <div class="third-headline">
            <h1>A VISTOS & CO. É IDEAL PARA VOCÊ QUE:</h1>

            <div class="card-grid">
                <div class="card-plane">
                    <img src="./assets/aviao.png">
                    <p>Quer realizar uma viagem para os Estados Unidos, Canadá & Austrália</p>
                </div>
                <div class="card-plane">
                    <img src="./assets/aviao.png">
                    <p>Planeja estudar nos Estados Unidos (Visto F1) ou Canadá (Study Permit)</p>
                </div>
                <div class="card-plane">
                    <img src="./assets/aviao.png">
                    <p>Precisa realizar legalizações, traduções oficiais (Traduções Juramentadas) & Apostilamentos (Apostila de Haia)</p>
                </div>
            </div>
            
        </div>
    </section>

    <section class="assessorias" id="assessorias">
        <div class="nossas-assessorias">
            <h1>NOSSAS ASSESSORIAS</h1>
        </div>
        
        <div class="cards-assessoria">
            <div class="cards-container">
                <img class="item" *ngFor="let image of cardImages; let i = index" [src]="image">
            </div>
            <button class="arrow1" appPrev><img src="./assets/arrow2.png"></button>
            <button class="arrow2" appNext><img src="./assets/arrow2.png"></button>
            
        </div>
        <button>Escolher</button>
        <img class="imagem" src="./assets/passport.jpg">
    </section>

    <section class="razoes" id="razoes">
        <h1>RAZÕES PARA ESCOLHER A VISTOS & CO.</h1>

        <div class="razoes-cards">
            <div class="razoes-card">
                <p>Escolher a nossa empresa significa optar por excelência, eficiência e tranquilidade durante todo o seu processo</p>
            </div>
            <div class="razoes-card">
                <p>Valorizamos cada cliente, oferecendo um atendimento personalizado para entender e atender às suas demandas específicas</p>
            </div>
        </div>
    </section>

    <section class="missao">
        <h1>NOSSA MISSÃO</h1>
        <span></span>
        <div class="missao-text">
            Descomplicar a jornada global dos nossos clientes, proporcionando serviços de vistos e traduções de alta qualidade.
            Comprometemo-nos a oferecer soluções eficazes, visando tornar o processo de documentação internacional acessível e bem-sucedido.
        </div>
    </section>

    <section class="responsavel">
        <h1>QUEM SERÁ RESPONSÁVEL POR CONDUZIR O SEU PROCESSO?</h1>
        <div class="responsavel-body">
            <img src="./assets/profile.jpg">
            <div class="responsavel-text">
                <p>Me chamo Lyandra Eduarda, sou casada e mãe de uma linda filha. Em 2017, minha trajetória profissional me apresentou ao fascinante universo dos vistos. Desde então, dedico-me constantemente a aprimorar meus conhecimentos em assuntos internacionais.</p>
            <p>A Vistos &CO. é fruto da minha sólida experiência e paixão por seguir algo que sempre trouxe brilho aos meus olhos: tornar realidade os sonhos de pessoas como eu.</p>
            </div>
        </div>
    </section>

    <section class="duvidas">
        <div class="duvidas-title">
            <h1>DÚVIDAS FREQUENTES</h1>
        </div>
        <div class="duvidas-cards">
            <div class="duvida-card" (click)="changeCard1()">
                <div class="duvida-card-title">
                    <h3>Quais são as opções de pagamento disponíveis?</h3>
                    <button [style.transform]="cardBodyVisible1 == true ? 'rotate(-90deg)' : 'rotate(90deg)'"><img src="./assets/arrow-blue.png"></button>
                </div>
                <div *ngIf="cardBodyVisible1">
                    <p [style]="'margin-bottom: 20px; line-height: 20px'">Nossa assessoria oferece diversas opções de pagamento para maior comodidade dos clientes. O pagamento dos nossos serviços pode ser feito através de PIX, boleto ou parcelado incluindo as taxas da plataforma de pagamento. O pagamento das Taxas Consulares podem ser feitos via boleto ou pelo cartão de crédito do cliente.</p>
                </div>
            </div>
            <div class="duvida-card" (click)="changeCard2()">
                <div class="duvida-card-title">
                    <h3>Após a contratação, oferecem suporte ou atendimento através do WhatsApp?</h3>
                    <button [style.transform]="cardBodyVisible2 == true ? 'rotate(-90deg)' : 'rotate(90deg)'"><img src="./assets/arrow-blue.png"></button>
                </div>
                <div *ngIf="cardBodyVisible2">
                    <p [style]="'margin-bottom: 20px; line-height: 20px'">Sem dúvida! Estamos comprometidos em acompanhar você de ponta a ponta do processo, prontos para esclarecer todas as suas dúvidas com máxima agilidade.</p>
                </div>
            </div>
            <div class="duvida-card" (click)="changeCard3()">
                <div class="duvida-card-title">
                    <h3>Por que devo contratar uma assessoria de vistos?</h3>
                    <button [style.transform]="cardBodyVisible3 == true ? 'rotate(-90deg)' : 'rotate(90deg)'"><img src="./assets/arrow-blue.png"></button>
                </div>
                <div *ngIf="cardBodyVisible3">
                    <p [style]="'margin-bottom: 20px; line-height: 20px'">A contratação de um especialista em vistos é essencial para garantir uma abordagem profissional, confiável e personalizada. Essa decisão não apenas aumenta suas chances de sucesso, mas também simplifica integralmente o processo, proporcionando segurança e eficiência.</p>
                </div>
            </div>
            <div class="duvida-card" (click)="changeCard4()">
                <div class="duvida-card-title">
                    <h3>O que é, e para que serve uma tradução juramentada?</h3>
                    <button [style.transform]="cardBodyVisible4 == true ? 'rotate(-90deg)' : 'rotate(90deg)'"><img src="./assets/arrow-blue.png"></button>
                </div>
                <div *ngIf="cardBodyVisible4">
                    <p [style]="'margin-bottom: 20px; line-height: 20px'">A tradução juramentada é um serviço especializado realizado por um tradutor público, também conhecido como tradutor juramentado. Esses profissionais são devidamente credenciados pelos órgãos competentes, como cartórios ou entidades governamentais, e têm autorização para realizar traduções oficiais de documentos.<br><br>Essa modalidade de tradução é geralmente exigida em processos legais, administrativos ou oficiais que envolvem documentos que devem ser reconhecidos legalmente em outro país. A tradução juramentada confere autenticidade ao conteúdo traduzido, garantindo que seja reconhecido e aceito pelas autoridades competentes.</p>
                </div>
            </div>
            <div class="duvida-card" (click)="changeCard5()">
                <div class="duvida-card-title">
                    <h3>Qual o prazo vocês oferecem para realizar a assessoria?</h3>
                    <button [style.transform]="cardBodyVisible5 == true ? 'rotate(-90deg)' : 'rotate(90deg)'"><img src="./assets/arrow-blue.png"></button>
                </div>
                <div *ngIf="cardBodyVisible5">
                    <p [style]="'margin-bottom: 20px; line-height: 20px'">Nossa equipe geralmente completa todo o processo de assessoria, do início ao fim, em até 10 dias úteis.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="fcd">
        <div class="fcd-top">
            <h1>FICOU COM ALGUMA DÚVIDA?</h1>
            <h3>FALE COM A GENTE!</h3>
        </div>

        <div class="fcd-card">
            <form>
                <label for="nome">Nome</label>
                <input id="nome" class="normal-duvida" type="text" placeholder="Nome" />

                <label for="email">Email</label>
                <input id="email" class="normal-duvida" type="text" placeholder="Email" />

                <label for="duvida">Mensagem</label>
                <textarea id="duvida" class="caixa-duvida" type="text" placeholder="Sua dúvida"></textarea>

                <input class="enviar" type="submit" value="Enviar"/>
            </form>
        </div>
    </section>

    <section class="depoimentos" id="depoimentos">
        <h1>DEPOIMENTOS DE CLIENTES</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et bibendum arcu. Phasellus purus orci, pulvinar in est accumsan, efficitur imperdiet nibh. Sed mauris risus, vulputate a maximus eget, semper in justo. Donec ut tellus quis sapien sodales vulputate a in tellus. Maecenas efficitur neque quam, mollis vehicula felis ornare et. Etiam feugiat laoreet nisi non pharetra. In hac habitasse platea dictumst. Nullam et mollis lorem, ac varius lorem”</p>
        <h3>- Vonisleia</h3>
    </section>

    <section class="contato" id="contato">
        <h3>Contato</h3>
        <span></span>
        <p>+55 (61) 99867-7496 - Lyandra</p>
        <a href="https://www.instagram.com/vistos.co/" target="_blank"><img src="https://icongr.am/jam/instagram.svg?size=128&color=ffffff"></a>
    </section>

    <section class="direitos">
        <p>Copyright © 2024. Todos os direitos reservados.</p>
        <img src="./assets/logo.png">
    </section>
</main>