main {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.main-section {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    
    .headline {
        z-index: 1;
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            width: 700px;
            font-size: 60px;
            font-weight: 800;
            color: #083d77;
            line-height: 50px;
            padding-bottom: 20px;
        }

        p {
            width: 750px;
            font-size: 25px;
            font-weight: 500;
            line-height: 23px;
            padding: 10px 0px 10px 0px;
            color: #083d77;
            opacity: .85;
        }
    }

    button {
        z-index: 1;
        margin-top: 40px;
        border: none;
        width: 390px;
        height: 50px;
        background-color: #fc6346;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        border-radius: 30px;
        transition: all 0.4s ease;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            transform: scale(1.05);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .15;
        position: absolute;
    }
}

.second-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #083d77;
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;

    .second-headline {
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            width: 600px;
            font-size: 45px;
            font-weight: 600;
            line-height: 42px;
            margin: 10px 0px 10px 0px;
        }
    
        p {
            width: 860px;
            font-size: 25px;
            font-weight: 400;
            line-height: 23px;
            margin: 20px 0px 50px 0px;
        }
    }
    
}

.third-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #083d77;

    .third-headline {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 40px;
            margin: 50px 0px 60px 0px;
        }

        .card-grid {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }

        .card-plane {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 500px;
            padding: 30px 0px 80px 0px;

            img {
                max-width: 120px;
                margin-bottom: 20px;
                margin-right: 15px;
            }

            p {
                width: 350px;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
            }
        }
    }
}

.assessorias {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .nossas-assessorias {
        background-image: linear-gradient( 150deg, #fc6346, #e6725a);
        z-index: 1;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 36px;
            color: #ffffff;
        }
    }

    .cards-assessoria {
        background-color: #083d77;
        width: 100%;
        height: 680px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cards-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            width: 100%;
            position: absolute;

            img {
                z-index: 1;
                position: relative;
                height: 450px;
                margin: 50px 0px 50px 50px;
                transition: all 0.3s ease;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
                    border-radius: 23px;
                    transform: scale(1.05);
                    transition: all 0.3s ease;
                }
            }
        }

        .arrow1 {
            margin-left: 10px;
            transform: rotate(180deg);
            width: 60px;
            height: 60px;
            border-radius: 30px;
            padding-left: 5px;
            border: none;
            z-index: 2;
            background-color: #083e77;

            img {
                width: 25px;
                height: 40px;
            }

            &:hover {
                transform: scale(1.05) rotate(180deg);
            }
            
        }

        .arrow2 {
            margin-right: 10px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            padding-left: 5px;
            border: none;
            z-index: 2;
            background-color: #083e77;

            img {
                width: 25px;
                height: 40px;
            }
            
        }


    }

    .imagem {
            width: 100%;
            height: 750px;
            position: absolute;
            object-fit: cover;
            opacity: .2;
    }
}

.razoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    
    h1 {
        font-size: 32px;
        color: #083e77;
        margin: 50px 0px;
    }

    .razoes-cards {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .razoes-card {
            background-color: #083e77e4;
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 40px;
            border-radius: 15px;
            box-shadow: 3px 3px 12px 2px rgba(0,0,0,0.2);

            p {
                color: #f9f9f9;
                font-size: 20px;
                font-weight: 400;
                line-height: 23px;
                text-align: center;
            }
        }
    }

}

.missao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient( 150deg, #fc6346, #e6725a);
    color: #f9f9f9;
    padding: 40px 60px;

    h1 {
        font-size: 30px;
    }

    span {
        content: '';
        background-color: #f9f9f9;
        width: 200px;
        height: 2px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .missao-text {
        text-align: center;
        max-width: 1000px;
    }
}

.responsavel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0px;

    h1 {
        color: #083d77;
        font-size: 28px;
    }

    .responsavel-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        margin: 50px 0px 40px 0px;

        img {
            width: 200px;
            border-radius: 20%;
            box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
            margin: 20px 0px;
        }

        .responsavel-text {
            display: flex;
            flex-direction: column;
            width: 500px;

            p {
                color: #083d77;
                line-height: 20px;
                text-align: justify;
            }
        }
        
    }
}

.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .duvidas-title {
        background-image: linear-gradient( 150deg, #fc6346, #e6725a);
        width: 100%;
        padding: 30px 0px 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: #f9f9f9;
            font-size: 30px;
        }
    }

    .duvidas-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 70px 30px 70px;

        .duvida-card {
            width: 100%;
            color: #083d77;
            border-radius: 15px;
            border: #fc6346 3px solid;
            padding: 0px 20px;
            margin-bottom: 30px;

            &:hover {
                cursor: pointer;
            }

            .duvida-card-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                button {
                    border: none;
                    background-color: transparent;
                    transform: rotate(90deg);
                    width: 70px;
                    height: 70px;
                    background-color: transparent;

                    img {
                        width: 10px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.fcd {
    background-image: linear-gradient( 150deg, #fc6346, #e6725a);
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fcd-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;

        h1 {
            font-size: 30px;
            line-height: 30px;
        }
        h3 {
            font-weight: 500;
        }
    }

    .fcd-card {
        background-color: #f9f9f9;
        width: 650px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;

        form {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 600px;
            margin: 30px 0px;

            label {
                color: #fc6346;
                margin-bottom: 5px;
            }

            .normal-duvida {
                width: 100%;
                height: 45px;
                border: none;
                background-color: #e4e4e4;
                border-radius: 10px;
                padding-left: 10px;
                outline: none;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 15px;
            }

            .caixa-duvida {
                min-width: 100%;
                max-width: 100%;
                min-height: 100px;
                border: none;
                background-color: #e4e4e4;
                border-radius: 10px;
                padding-top: 10px;
                padding-left: 10px;
                outline: none;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 15px;
            }

            .enviar {
                height: 55px;
                width: 100%;
                border-radius: 10px;
                border: none;
                background-color: #fc6346;
                font-family: 'Poppins', sans-serif;
                color: #f9f9f9;
                font-size: 18px;
            }
        }
    }
}

.depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #083e77;
    margin-bottom: 70px;

    h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    p {
        width: 800px;
        text-align: center;
        margin: 50px 0px;
        font-weight: 500;
    }
}

.contato {
    background-color: #083d77;
    color: #f9f9f9;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 500;
        margin-bottom: 10px;
    }

    span {
        content: '';
        background-color: #f9f9f9;
        width: 100%;
        height: 1px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    p {
        font-weight: 400;
        margin-bottom: 10px;
    }

    img {
        width: 25px;
    }
}

.direitos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fc6346;
    color: #f9f9f9;
    padding: 30px 0px;

    img {
        width: 80px;
        margin-top: 20px;
    }
}

@media (max-width: 1070px) {
    .razoes {
        .razoes-cards {

            display: flex;
            flex-direction: column;
            gap: 50px;
    
            .razoes-card {
                background-color: #083e77e4;
                width: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 40px;
                border-radius: 15px;
                box-shadow: 3px 3px 12px 2px rgba(0,0,0,0.2);
    
                p {
                    color: #f9f9f9;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    text-align: center;
                }
            }
        }
    
    }
}

@media (max-width: 1175px) {
    .third-section {
        .third-headline {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h1 {
                font-size: 40px;
                margin: 50px 0px 60px 0px;
                width: 500px;
                text-align: center;
            }
    
            .card-grid {
                
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .card-plane {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    padding: 30px 0px 80px 0px;
        
                    img {
                        max-width: 120px;
                        margin-bottom: 20px;
                        margin-right: 15px;
                    }
        
                    p {
                        width: 350px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 25px;
                    }
                }
            }
    
            
        }
    }
}

@media (max-width: 880px) {                      /////////Tablets///////////////////////////
    .main-section .headline {
        z-index: 1;
        width: 100%;
        padding: 0px 0px 10px 50px;

        h1 {
            width: 700px;
            font-size: 55px;
            font-weight: 800;
            color: #083d77;
            line-height: 50px;
            padding-bottom: 20px;
        }

        p {
            width: 650px;
            font-size: 20px;
            font-weight: 500;
            line-height: 23px;
            padding-bottom: 10px;
            color: #083d77;
            opacity: .85;
        }
    }

    .main-section button {
        z-index: 1;
        margin: 0px 20px 10px 50px;
        border: none;
        width: 335px;
        height: 50px;
        background-color: #fc6346;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        border-radius: 30px;
    }

    .second-section {
        .second-headline {
            h1 {
                width: 600px;
                font-size: 40px;
                font-weight: 600;
                line-height: 42px;
                margin: 10px 0px 10px 0px;
            }
        
            p {
                width: 720px;
                font-size: 18px;
                font-weight: 400;
                line-height: 23px;
                margin: 20px 0px 50px 0px;
            }
        }
        
    }

    .third-section {
        .third-headline {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h1 {
                font-size: 40px;
                margin: 50px 0px 60px 0px;
                width: 500px;
                text-align: center;
            }
    
            .card-grid {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
    
            .card-plane {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 500px;
                padding: 30px 0px 80px 0px;
    
                img {
                    max-width: 120px;
                    margin-bottom: 20px;
                    margin-right: 15px;
                }
    
                p {
                    width: 350px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 25px;
                }
            }
        }
    }

    .responsavel {
    
        h1 {
            color: #083d77;
            font-size: 28px;
            width: 600px;
            text-align: center;
        }
    
        .responsavel-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 50px 0px 40px 0px;
    
            img {
                width: 200px;
                border-radius: 20%;
                box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
                margin: 20px 0px;
            }
    
            .responsavel-text {
                display: flex;
                flex-direction: column;
                width: 600px;
    
                p {
                    color: #083d77;
                    line-height: 20px;
                    text-align: justify;
                }
            }
            
        }
    }

    .depoimentos {
        h1 {
            margin-top: 50px;
            font-size: 30px;
        }
    
        p {
            width: 600px;
            text-align: center;
            margin: 50px 0px;
            font-weight: 500;
        }
    }
}

@media (max-width: 760px) {
    .main-section .headline {
        z-index: 1;
        width: 100%;
        padding: 0px 20px 30px 20px;

        h1 {
            width: 350px;
            font-size: 31px;
            font-weight: 800;
            color: #083d77;
            line-height: 28px;
            padding-bottom: 20px;
        }

        p {
            width: 350px;
            font-size: 15px;
            font-weight: 500;
            line-height: 15px;
            padding: 10px 0px 10px 0px;
            color: #083d77;
            opacity: .85;
        }
    }

    .main-section button {
        z-index: 1;
        margin: 20px 20px 20px 20px;
        border: none;
        width: 335px;
        height: 50px;
        background-color: #fc6346;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        border-radius: 30px;
    }

    .second-section {
        .second-headline {
            h1 {
                width: 400px;
                font-size: 30px;
                font-weight: 600;
                line-height: 30px;
                margin: 10px 0px 10px 0px;
            }
        
            p {
                width: 400px;
                font-size: 18px;
                font-weight: 400;
                line-height: 23px;
                margin: 20px 0px 50px 0px;
            }
        }
        
    }

    .third-section {
        .third-headline {

            h1 {
                font-size: 30px;
                margin: 50px 0px 60px 0px;
                width: 400px;
                line-height: 32px;
                text-align: center;
            }
    
            .card-grid {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
    
            .card-plane {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 500px;
                padding: 30px 0px 80px 0px;
    
                img {
                    max-width: 120px;
                    margin-bottom: 20px;
                    margin-right: 15px;
                }
    
                p {
                    width: 350px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 25px;
                }
            }
        }
    }

    .assessorias {
        .nossas-assessorias {
            h1 {
                font-size: 25px;
                color: #ffffff;
            }
        }
    
        .cards-assessoria {
            background-color: #083d77;
            width: 100%;
            height: 680px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .cards-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
                width: 100%;
                position: absolute;
    
                img {
                    z-index: 1;
                    position: relative;
                    height: 450px;
                    margin: 50px 30px;
                    transition: all 0.3s ease;
    
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
                        border-radius: 23px;
                        transform: scale(1.05);
                        transition: all 0.3s ease;
                    }
                }
            }
    
            .arrow1 {
                margin-left: 10px;
                transform: rotate(180deg);
                width: 30px;
                height: 30px;
                border-radius: 30px;
                padding-top: 2px;
                padding-left: 2px;
                border: none;
                z-index: 2;
                background-color: #083e77;
    
                img {
                    width: 10px;
                    height: 15px;
                }
    
                &:hover {
                    transform: scale(1.05) rotate(180deg);
                }
                
            }
    
            .arrow2 {
                margin-right: 10px;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                padding-top: 2px;
                padding-left: 2px;
                border: none;
                z-index: 2;
                background-color: #083e77;
    
                img {
                    width: 10px;
                    height: 15px;
                }
                
            }
    
    
        }
    
        .imagem {
                width: 100%;
                height: 750px;
                position: absolute;
                object-fit: cover;
                opacity: .2;
        }
    }

    .razoes {
        h1 {
            font-size: 28px;
            color: #083e77;
            margin: 50px 0px;
            width: 360px;
            line-height: 28px;
            text-align: center;
        }
    
        .razoes-cards {
    
            .razoes-card {
                background-color: #083e77e4;
                width: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 40px;
                border-radius: 15px;
                box-shadow: 3px 3px 12px 2px rgba(0,0,0,0.2);
    
                p {
                    color: #f9f9f9;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    text-align: center;
                }
            }
        }
    
    }
}

@media (max-width: 660px) {
    .fcd {
        .fcd-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px 0px;
    
            h1 {
                font-size: 28px;
                line-height: 30px;
            }
            h3 {
                font-weight: 500;
            }
        }
    
        .fcd-card {
            background-color: #f9f9f9;
            width: 500px;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
    
            form {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                width: 470px;
                margin: 30px 0px;
    
                label {
                    color: #fc6346;
                    margin-bottom: 5px;
                }
    
                .normal-duvida {
                    width: 100%;
                    height: 45px;
                    border: none;
                    background-color: #e4e4e4;
                    border-radius: 10px;
                    padding-left: 10px;
                    outline: none;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 15px;
                }
    
                .caixa-duvida {
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100px;
                    border: none;
                    background-color: #e4e4e4;
                    border-radius: 10px;
                    padding-top: 10px;
                    padding-left: 10px;
                    outline: none;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 15px;
                }
    
                .enviar {
                    height: 55px;
                    width: 100%;
                    border-radius: 10px;
                    border: none;
                    background-color: #fc6346;
                    font-family: 'Poppins', sans-serif;
                    color: #f9f9f9;
                    font-size: 18px;
                }
            }
        }
    }

    .responsavel {
    
        h1 {
            color: #083d77;
            font-size: 25px;
            width: 500px;
            text-align: center;
            line-height: 30px;
        }
    
        .responsavel-body {
    
            img {
                width: 200px;
                border-radius: 20%;
                box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
                margin: 20px 0px;
            }
    
            .responsavel-text {
                display: flex;
                flex-direction: column;
                width: 500px;
    
                p {
                    color: #083d77;
                    line-height: 20px;
                    text-align: justify;
                }
            }
            
        }
    }
}

@media (max-width: 605px) {
    .depoimentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #083e77;
        margin-bottom: 70px;
    
        h1 {
            margin-top: 50px;
            font-size: 30px;
        }
    
        p {
            width: 500px;
            text-align: center;
            margin: 50px 0px;
            font-weight: 500;
        }
    }
}

@media (max-width: 520px) {
    .razoes {
        h1 {
            font-size: 28px;
            color: #083e77;
            margin: 50px 0px;
            width: 360px;
            text-align: center;
        }
    
        .razoes-cards {
    
            .razoes-card {
                background-color: #083e77e4;
                width: 380px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 40px;
                border-radius: 15px;
                box-shadow: 3px 3px 12px 2px rgba(0,0,0,0.2);
    
                p {
                    color: #f9f9f9;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    text-align: center;
                }
            }
        }
    
    }
}

@media (max-width: 500px) {
    .responsavel {
    
        h1 {
            color: #083d77;
            font-size: 24px;
            width: 400px;
            text-align: center;
            line-height: 30px;
        }
    
        .responsavel-body {
    
            img {
                width: 200px;
                border-radius: 20%;
                box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
                margin: 20px 0px;
            }
    
            .responsavel-text {
                display: flex;
                flex-direction: column;
                width: 300px;
    
                p {
                    color: #083d77;
                    line-height: 20px;
                    text-align: justify;
                }
            }
            
        }
    }

    .fcd {
        .fcd-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px 0px;
    
            h1 {
                font-size: 23px;
                line-height: 23px;
            }
            h3 {
                font-size: 18px;
                font-weight: 500;
            }
        }
    
        .fcd-card {
            background-color: #f9f9f9;
            width: 380px;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
    
            form {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                width: 360px;
                margin: 20px 0px;
    
                label {
                    color: #fc6346;
                    margin-bottom: 5px;
                }
    
                .normal-duvida {
                    width: 100%;
                    height: 45px;
                    border: none;
                    background-color: #e4e4e4;
                    border-radius: 10px;
                    padding-left: 10px;
                    outline: none;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 15px;
                }
    
                .caixa-duvida {
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100px;
                    border: none;
                    background-color: #e4e4e4;
                    border-radius: 10px;
                    padding-top: 10px;
                    padding-left: 10px;
                    outline: none;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 15px;
                }
    
                .enviar {
                    height: 55px;
                    width: 100%;
                    border-radius: 10px;
                    border: none;
                    background-color: #fc6346;
                    font-family: 'Poppins', sans-serif;
                    color: #f9f9f9;
                    font-size: 18px;
                }
            }
        }
    }

    .depoimentos {
        h1 {
            margin-top: 50px;
            font-size: 20px;
        }
    
        p {
            width: 300px;
            text-align: center;
            margin: 50px 0px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

@media (max-width: 400px) {
    .razoes {
        h1 {
            font-size: 28px;
            color: #083e77;
            margin: 50px 0px;
            width: 360px;
            text-align: center;
        }
    
        .razoes-cards {
    
            .razoes-card {
                background-color: #083e77e4;
                width: 340px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 40px;
                border-radius: 15px;
                box-shadow: 3px 3px 12px 2px rgba(0,0,0,0.2);
    
                p {
                    color: #f9f9f9;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
    
    }
}